<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CapTone</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <!--<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.12/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.12/addons/p5.sound.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var freq = 100;
        var oscs = [];
        var numPeople = 1;
        function isNewNote(f) {
            for (var i = 0; i < oscs.length; i++) {
                if (oscs[i].frequency == f) {
                    return false;
                }
            }
            return true;
        }

	      socket.on('play', function(f) {
            if (isNewNote(f)) {
                var sine = new p5.Oscillator();
                var sine2 = new p5.Oscillator();
                var trin = new p5.Oscillator();

                sine.setType('sine');
                sine2.setType('sine');
                trin.setType('triangle');
                sine.freq(1 * f);
                sine.freq(0.67 * f);
                trin.freq(0.5 * f);
                sine.amp(.5, 0.005);
                sine2.amp(0, 0.005);
                trin.amp(.5, 0.005);
                sine.start();
                sine2.start();
                trin.start();

                var so = {
                    os1: sine,
                    os2: sine2,
                    os3: trin
                };
                /*
                var osc = new p5.Oscillator();
                osc.setType('sine'); //this can be altered as well to make it more interesting
                osc.freq(f);
                osc.amp(0.5, 0.05);
                osc.start()

                var oscData = {
                    oscillator: osc,
                    frequency: f
                };
                */
                var oscData = {
                    oscillator: so,
                    frequency: f
                };
                oscs.push(oscData);
            }
        });

        socket.on('end', function(f) {
            for (var i = 0; i < oscs.length; i++) {
                if (oscs[i].frequency == f) {
                    oscs[i].oscillator.os1.stop();
                    oscs[i].oscillator.os2.stop();
                    oscs[i].oscillator.os3.stop();
                    oscs.splice(i, 1);
                    return;
                }
            }
        });

        function playNote() {
            console.log("PLAYING: " + freq);
            socket.emit('play', freq);
        }

        function endNote() {
            console.log("ENDING: " + freq);
            socket.emit('end', freq);
        }

        function ajaxIt() {
            $.get('/frequency', {}, function(data) {
                var stuff = JSON.stringify(data);
                freq = Number(data.freq);
                numPeople = Number(data.numTotal);
                document.getElementById('numPeople').innerHTML = numPeople + '&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;8';
                setImage();
            });
        }

        function componentToHex(c) {
            var hex = c.toString(16);
            return hex.length == 1 ? "0" + hex : hex;
        }

        function rgbToHex(r, g, b) {
            return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
        }

        /*
        setInterval(function() {
            var avg = 0;
            for (var i = 0; i < oscs.length; i++) {
                avg += oscs.frequency;
            }
            avg = avg / oscs.length;
            if (avg != 0) {
                part1 = avg / 523 * 255;
                part2 = avg / 523 * 255;
                part3 = avg / 523 * 255;
                currentColor = "rgb (" + part1 + ", " + part2 + ", " + part3 + ")";
                console.log(currentColor);
                document.getElementById('content').style.backgroundColor = currentColor;
            }
        }, 250);
        */
        /*
        $.get('/minusone', {}, function(data) {
            numPeople = Number(data);
        });
        */

        function setImage() {
            var img = new Image();
            //img.src = 'images/Acap.png';
            if (freq == 262) {
                img.src = 'images/Ccap.png';
            } else if (freq == 294) {
              img.src = 'images/Dcap.png';
            } else if (freq == 330) {
              img.src = 'images/Ecap.png';
            } else if (freq == 349) {
              img.src = 'images/Fcap.png';
            } else if (freq == 392) {
              img.src = 'images/Gcap.png';
            } else if (freq == 440) {
              img.src = 'images/Acap.png';
            } else if (freq == 493) {
              img.src = 'images/Bcap.png';
            } else {
              img.src = 'images/Ccap.png';
            }
            img.width = 100
            img.onload = function() {
                document.getElementById('but').appendChild(img);
            };
        }

    </script>
</head>
<body onload="ajaxIt()" onkeydown="playNote()" onkeyup="endNote()">
    <div style="height:100%;width:100%;" id="content">
      <center><span id="numPeople" style="display:block;margin-top:2%;font-family:Sans-Serif;font-size:200%;color:white;">0 / 0</span></center>
      <center><a style="display:block;margin-top:35%;"id="but" onmousedown="playNote()" onmouseup="endNote()"></a></center>
    </div>
</body>
</html>
