<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WhistleCaps</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.12/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.12/addons/p5.sound.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var freq = 262;
        var oscs = [];

        function isNewNote(f) {
            for (var i = 0; i < oscs.length; i++) {
                if (oscs[i].frequency == f) {
                    return false;
                }
            }
            return true;
        }

	      socket.on('play', function(f) {
            if (isNewNote(f)) {
                var osc = new p5.Oscillator();
                osc.setType('sine'); //this can be altered as well to make it more interesting
                osc.freq(f);
                osc.amp(0.5, 0.05);
                osc.start();
                var oscData = {
                    oscillator: osc,
                    frequency: f
                };
                oscs.push(oscData);
            }
        });

        socket.on('end', function(f) {
            for (var i = 0; i < oscs.length; i++) {
                if (oscs[i].frequency == f) {
                    oscs[i].oscillator.stop();
                    oscs.splice(i, 1);
                    return;
                }
            }
        });

        function playNote() {
            console.log("PLAYING: " + freq);
            socket.emit('play', freq);
        }

        function endNote() {
            console.log("ENDING: " + freq);
            socket.emit('end', freq);
        }

        $(function() {
            $.get('/frequency', function(data) {
                freq = Number(data);
            });
        });
        /*
        setInterval(function() {
            freq = document.getElementById('update').innerHTML;
        }, 500);
        */
    </script>
</head>
<body onkeydown="playNote()" onkeyup="endNote()">
    <div id="update">
        0
    </div>
</body>
</html>
